.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper:not(:first-child) {
  margin-left: 16px;
}

.element {
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-appearance: none;
  box-shadow: 0px 0px 0px 3px #2d333b;
}

.element::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.element::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}