.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper:not(:first-child) .label {
  margin-top: 12px;
}

.label {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fafafa;
  opacity: 0.8;
}

.display {
  width: 100%;
  padding: 10px;
  color: #fafafa;
  line-height: 1.2;
  font-size: 1.3em;
}

.element {
  border-radius: 0px;
  height: 24px;
  width: 40px;
  border: 2px solid #2d333b;
  outline: none;
  -webkit-appearance: none;
}

.element::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.element::-webkit-color-swatch {
  border: none;
  border-radius: 0px;
}

.wrapper__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}