.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper:not(:first-child) {
  margin-top: 16px;
}

.label {
  opacity: 0.4;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  color: #fafafa;
}

.element {
  height: 24px;
  width: 28px;
  margin-right: 12px;
  margin-left: 3px;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-appearance: none;
  box-shadow: 0px 0px 0px 3px #2d333b;
}

.element::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.element::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.wrapper__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}