.table {
  border-collapse: collapse;
  background-color: #fafafa;
  font-size: 1.1em;
}

.th, .td, .td__expression {
  border: 1px solid #ddd;
  width: 34px;
  height: 34px;
  text-align: center;
}

.th {
  background-color: #04AA6D;
  color: white;
}

.td__expression {
  width: 80px;
}

.td__output {
  cursor: pointer;
  font-weight: bold;
}