.table {
  min-width: max-content;
  border-collapse: collapse;
  background-color: #fafafa;
}

.th, .td, .td__expression {
  border: 1px solid rgb(0, 0, 0);
  width: 2.125em;
  height: 2.125em;
  text-align: center;
  font-size: 0.75em;
}

.th {
  background-color: #04AA6D;
  color: white;
}

.td__expression {
  width: 5em;
}

.td__output {
  cursor: pointer;
  font-weight: bold;
}