.table {
  border-collapse: collapse;
  background-color: #fafafa;
  font-size: 1.1em;
  transform: scale(1.4);
}

.th, .td {
  border: 1px solid #ddd;
  padding: 6px 12px;
}

.th {
  background-color: #04AA6D;
  color: white;
}

.td {
  text-align: center;
}